/* h1 {
    color: red;
    background-color: black;
} */



/* h1 {
    color: green;
    background-color: yellow;
}
p {
    color: red;
    background-color: lime;
}
button {
    color: blue;
    background-color: coral;
} */

/* Qs Style  */
h2{
    color: orange;
}
p {
    color: white;
    background-color: black;
}
button {
    color: white;
    background-color: blue;
}